

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 :root{
    --bgcolor:#003D8F;
    --textColor:#ffffffff;
    --boxColor:#001B41;
     --boxColor1:#136DBA;
 }
.container{
    height: 100vh;
    display: flex;
   justify-content: center; 
   align-items: center;background: var(--bgcolor);
    color: var(--textColor);
}
 .box{
    width: 500px;
    height: 400px;
    border-radius: 15px;
    padding: 15px;
    background: linear-gradient(to top , var(--boxColor), var(--boxColor1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
 }
 .box>h2{
    width: 100%;
    display: flex;
     justify-content: center;
     margin: 20px 0;
      align-items: center;
 }
 .box>h1>img{

   margin:0 20px;
 }
 .box>input{
    width: 400px;
     height: 40px;
   
 }
.box>div:last-child{
     width: 100%;
    display: flex;
    justify-content: center;
}

 .button{
   background-color: #0078d0;
   border: 0;
   border-radius: 56px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
   font-size: 18px;
   font-weight: 600;
   outline: 0;
   padding: 16px 21px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
    margin-top: 20px;
 }
 
 .button:before {
   background-color: initial;
   background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
   border-radius: 125px;
   content: "";
   height: 50%;
   left: 4%;
   opacity: .5;
   position: absolute;
   top: 0;
   transition: all .3s;
   width: 92%;
 }
 
 .button-71:hover {
   box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
   transform: scale(1.05);
 }
 
 @media (min-width: 768px) {
   .button-71 {
     padding: 16px 48px;
   }
 }

 .boxInput{
    display: flex;
    justify-content: center;
   
 }
.box>section{
     display: flex;
      flex-wrap: wrap;
     justify-content: center;
}
.box>section>p{
    width: 100%;
     text-align: center;
     margin-top: 15px;
}
.box>section>button{
    width: 250px;
}

 /* CSS */
 .button-68 {
   appearance: none;
   backface-visibility: hidden;
   background-color: #27ae60;
   border-radius: 8px;
   border-style: none;
   box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: normal;
   line-height: 1.5;
   outline: none;
   overflow: hidden;
   padding: 13px 20px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transform: translate3d(0, 0, 0);
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: top;
   white-space: nowrap;
   margin-top: 20px;
 }
 
 .button-68:hover {
   background-color: #1e8449;
   opacity: 1;
   transform: translateY(0);
   transition-duration: .35s;
 }
 
 .button-68:active {
   transform: translateY(2px);
   transition-duration: .35s;
 }
 
 .button-68:hover {
   box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
 }